<!--include header-->
  <%- include("include/_header") %>
<!--include header-->

  <div class="container-sm mt-5">
     <h5 class="text-center d-flex justify-content-between">Create Note</h5>
      <div class="new_notes">
        <form action="/api/note" method="POST" id="add_notes">
          <div class="form-group d-flex flex-column">
            <label for="title" class=" fs-5">Title</label>
            <input type="text" name="title" placeholder="Title" class="p-2">
          </div>
          <div class="form-group d-flex flex-column">
           <label for="text">Description</label>
            <textarea name="text" class="p-2 fw-light fs-6" placeholder="Text Here"></textarea>
            <div class="form-group d-flex flex-column">
          </div>
          <div class="form-group d-flex flex-column">
            <button type="submit" class="btn btn-outline-dark  mt-3 update ">Save</button>
            <a href="/" class="btn btn-outline-dark  mt-3 update">Back</a>
         </div>
      </form>
    </div>
  </div>

<!--include footer-->
  <%- include("include/_footer") %>
<!--include footer-->
 
